<div class="wrapper">
    <div class="inner-wrap">

        <h1 id="main-title">Articles</h2>
            <ul class="list">
                {{#each articles }}
                    
                <li>
                        <h2 id="article-title">{{title}}</h1>
                        <p class="summary" >{{summary}}</p>
                        <div class="buttons-div">
                            <a href="{{link}}" id="story" class="list-button">View Article</a>
                            <p  id="view-note" class="list-button note-modal" data-id={{_id}} data-toggle="modal" data-target="#view-note-modal">View Comments</p>
                            <p  id="new-note" class="list-button" data-id={{_id}} data-toggle="modal" data-target="#create-note-modal" >Leave Comment</p>
                        </div>    
                </li>      
                    
                {{/each}}
            </ul>



            {{!-- create comment --}}
            <div class="modal" id="create-note-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Leave Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="notes-wrapper">       
                            <h5 id="note-header"></h5>
                            <p class="comment-header">Name:</p>
                            <div id="note-title"></div>
                            <p class="comment-header">Comment:</p>
                            <div id="note-body"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="close-note-btn" data-dismiss="modal"></div>
                        <div id="save-note-btn"></div>
                        <div id="delete-note-btn"></div>
                    </div>
                    </div>
                </div>
            </div>


            {{!-- view comments modal --}}
            <div class="modal" id="view-note-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comments</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="view-comments">       
                        {{!-- insert comments  --}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="list-button" id="close-note-btn" data-dismiss="modal">Close</div>
                    </div>
                    </div>
                </div>
            </div>

            {{!-- delete alert --}}

            <div class="modal" id="delete-alert" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comments</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Comment deleted</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-id={{_id}} data-toggle="modal" data-target="#view-note-modal">ok</button>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>